<!Doctype html>
<html>
  <head>
    <title>PegelOnline API-Wrapper</title>
    <link href="http://static.bengs.cologne/css/base.css" rel="stylesheet">
  </head>
  <body>
    <h1>PegelOnline API-Wrapper</h1>
    <p>Alle Anfragen die Location Informationen enthalten werden abgefangen und in ein GEOJson umgewandelt. Alle restlichen Anfragen werden umgeleitet.</p>
    <p>Die <a href="https://www.pegelonline.wsv.de/webservice/dokuRestapi">API-Dokumention</a> ist weiterhin gültig, nur die BASIS-URL ändert sich.</p>
  </body>
</html>
